{% load static %}

<script src="{% static 'assets/js/jquery-3.3.1.min.js'%}"></script>
<script src="{% static 'assets/js/bootstrap.min.js'%}"></script>
<script src="{% static 'assets/js/jquery.nice-select.min.js'%}"></script>
<script src="{% static 'assets/js/jquery-ui.min.js'%}"></script>
<script src="{% static 'assets/js/jquery.slicknav.js'%}"></script>
<script src="{% static 'assets/js/mixitup.min.js'%}"></script>
<script src="{% static 'assets/js/owl.carousel.min.js'%}"></script>
<script src="{% static 'assets/js/main.js'%}"></script>

<!-- Toastr JS -->
<script src="{% static 'assets/js/toastr.min.js' %}"></script>



<script>
    toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": false,
        "progressBar": true,
        "positionClass": "toast-top-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    };
    // Conversion des messages Django en notifications Toastr
    {% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}
            toastr.success('{{ message }}');
        {% elif message.tags == 'info' %}
            toastr.info('{{ message }}');
        {% elif message.tags == 'warning' %}
            toastr.warning('{{ message }}');
        {% elif message.tags == 'error' %}
            toastr.error('{{ message }}');
        {% else %}
            toastr.info('{{ message }}');
        {% endif %}
    {% endfor %}
{% endif %}
</script>