{% load static %}
{% load i18n %}
<div class="block-nav-categori">

    <div class="block-title">
        <span>Categories</span>
    </div>

    <div class="block-content">
        <div class="clearfix"><span data-action="close-cat"
                                    class="close-cate"><span>Categories</span></span></div>
        <ul class="ui-categori">
            <li class="parent">
                <a href="">
                                    <span class="icon"><img
                                            src="{% static 'assets/cosmos/images/icon/index3/nav-cat1.png' %}"
                                            alt="nav-cat"></span>
                    Electronics000
                </a>
            </li>
            <li class="parent">
                <a href="">
                                    <span class="icon"><img
                                            src="{% static 'assets/cosmos/images/icon/index3/nav-cat2.png' %}"
                                            alt="nav-cat"></span>
                    Sports & Outdoors
                </a>
            </li>
            <li class="parent">
                <a href="">
                                    <span class="icon"><img
                                            src="{% static 'assets/cosmos/images/icon/index3/nav-cat3.png' %}"
                                            alt="nav-cat"></span>
                    Smartphone & Tablets
                </a>
            </li>
            <li>
                <a href="">
                                    <span class="icon"><img
                                            src="{% static 'assets/cosmos/images/icon/index3/nav-cat4.png' %}"
                                            alt="nav-cat"></span>
                    Health & Beauty
                </a>
            </li>
            <li>
                <a href="">
                                    <span class="icon"><img
                                            src="{% static 'assets/cosmos/images/icon/index3/nav-cat5.png' %}"
                                            alt="nav-cat"></span>
                    Bags, Shoes & Accessories
                </a>
            </li>
            <li>
                <a href="">
                                    <span class="icon"><img
                                            src="{% static 'assets/cosmos/images/icon/index3/nav-cat6.png' %}"
                                            alt="nav-cat"></span>
                    Toys & Hobbies
                </a>
            </li>
            <li>
                <a href="">
                                    <span class="icon"><img
                                            src="{% static 'assets/cosmos/images/icon/index3/nav-cat7.png' %}"
                                            alt="nav-cat"></span>
                    Computers & Networking
                </a>
            </li>
            <li>
                <a href="">
                                    <span class="icon"><img
                                            src="{% static 'assets/cosmos/images/icon/index3/nav-cat8.png' %}"
                                            alt="nav-cat"></span>
                    Laptops & Accessories
                </a>
            </li>
            <li>
                <a href="">
                                    <span class="icon"><img
                                            src="{% static 'assets/cosmos/images/icon/index3/nav-cat9.png' %}"
                                            alt="nav-cat"></span>
                    Jewelry & Watches
                </a>
            </li>
            <li>
                <a href="">
                                    <span class="icon"><img
                                            src="{% static 'assets/cosmos/images/icon/index3/nav-cat10.png' %}"
                                            alt="nav-cat"></span>
                    Flashlights & Lamps
                </a>
            </li>
            <li>
                <a href="">
                                    <span class="icon"><img
                                            src="{% static 'assets/cosmos/images/icon/index3/nav-cat11.png' %}"
                                            alt="nav-cat"></span>
                    Cameras & Photo
                </a>
            </li>

            <li class="cat-link-orther">
                <a href="">
                                    <span class="icon"><img
                                            src="{% static 'assets/cosmos/images/icon/index3/nav-cat10.png' %}"
                                            alt="nav-cat"></span>
                    Sport & Outdoors
                </a>
            </li>
            <li class="cat-link-orther">
                <a href="">
                                    <span class="icon"><img
                                            src="{% static 'assets/cosmos/images/icon/index3/nav-cat9.png' %}"
                                            alt="nav-cat"></span>
                    Watch & Jewellry
                </a>
            </li>
        </ul>
    </div>

</div>

<div class="block-nav-menu">
    <div class="clearfix"><span data-action="close-nav" class="close-nav"><span>Fermer</span></span>
    </div>
    <ul class="ui-menu">
        <li class="parent parent-megamenu active">
            <a href="{% url 'index_cosmos' %}">Accueil</a>
        </li>
        <li class="parent parent-submenu">
            <a href="Contact.html"> Parfums </a>
        </li>
        <li><a href="">Maquillage</a></li>
        <li class="parent parent-megamenu">
            <a href="">Modes <span class="label-menu">New</span></a>
        </li>
        <li class="parent parent-megamenu">
            <a href="Contact.html">Corps </a>
        </li>
        <li><a href="#"> Sacs </a></li>
        <li><a href="#"> Chaussures </a></li>
        <li><a href="Blog.html">Contact</a></li>
    </ul>

</div>