{% load static %}
{% load i18n %}

<!-- categori -->
<div class="block-nav-categori">

    <div class="block-title">
        <span>Categories</span>
    </div>

    <div class="block-content">
        <ul class="ui-categori">
            <li class="parent">
                <a href="">
                    <span class="icon"><img src="{% static 'assets/cosmos/images/icon/index3/nav-cat2.png' %}"
                                            alt="nav-cat"></span>
                    Eaux de parfum
                </a>
            </li>
            <li class="parent">
                <a href="">
                    <span class="icon"><img src="{% static 'assets/cosmos/images/icon/index3/nav-cat2.png' %}"
                                            alt="nav-cat"></span>
                    Brumes parfumées
                </a>
            </li>
            <li>
                <a href="">
                    <span class="icon"><img src="{% static 'assets/cosmos/images/icon/index3/nav-cat2.png' %}"
                                            alt="nav-cat"></span>
                    Une Evidence
                </a>
            </li>
            <li>
                <a href="">
                    <span class="icon"><img src="{% static 'assets/cosmos/images/icon/index3/nav-cat3.png' %}"
                                            alt="nav-cat"></span>
                    Cuir de Nuit
                </a>
            </li>
            <li>
                <a href="">
                    <span class="icon"><img src="{% static 'assets/cosmos/images/icon/index3/nav-cat4.png' %}"
                                            alt="nav-cat"></span>
                    Sel d'Azure
                </a>
            </li>
            <li>
                <a href="">
                    <span class="icon"><img src="{% static 'assets/cosmos/images/icon/index3/nav-cat5.png' %}"
                                            alt="nav-cat"></span>
                    Mon Evidence
                </a>
            </li>
            <li class="parent">
                <a href="">
                    <span class="icon"><img src="{% static 'assets/cosmos/images/icon/index3/nav-cat5.png' %}"
                                            alt="nav-cat"></span>
                    Sacs à main
                </a>
            </li>
            <li>
                <a href="">
                    <span class="icon"><img src="{% static 'assets/cosmos/images/icon/index3/nav-cat6.png' %}"
                                            alt="nav-cat"></span>
                    Sacs shopping
                </a>
            </li>
            <li>
                <a href="">
                    <span class="icon"><img src="{% static 'assets/cosmos/images/icon/index3/nav-cat7.png' %}"
                                            alt="nav-cat"></span>
                    Baskets
                </a>
            </li>
            <li>
                <a href="">
                    <span class="icon"><img src="{% static 'assets/cosmos/images/icon/index3/nav-cat8.png' %}"
                                            alt="nav-cat"></span>
                    Sandales
                </a>
            </li>
            <li>
                <a href="">
                    <span class="icon"><img src="{% static 'assets/cosmos/images/icon/index3/nav-cat9.png' %}"
                                            alt="nav-cat"></span>
                    Robes
                </a>
            </li>
            <li>
                <a href="">
                    <span class="icon"><img src="{% static 'assets/cosmos/images/icon/index3/nav-cat10.png' %}"
                                            alt="nav-cat"></span>
                    Chemises
                </a>
            </li>
            <li>
                <a href="">
                    <span class="icon"><img src="{% static 'assets/cosmos/images/icon/index3/nav-cat11.png' %}"
                                            alt="nav-cat"></span>
                    Ensembles
                </a>
            </li>
        </ul>
    </div>

</div><!-- categori -->
<!-- block slide top -->
<div class="block-slide-main slide-opt-3">

    <!-- slide -->
    <div class="owl-carousel data-bg"
         data-nav="true"
         data-dots="false"
         data-margin="0"
         data-items='1'
         data-autoplayTimeout="700"
         data-autoplay="true"
         data-loop="false">
        <div class="item item1" data-background="#666a69">
            <a href="" class="img-slide"><img src="{% static 'assets/cosmos/images/media/index3/slide1.jpg' %}"
                                              alt="slide"></a>
        </div>

        <div class="item item2" data-background="#c1ddf6">
            <a href="" class="img-slide"><img src="{% static 'assets/cosmos/images/media/index3/slide2.jpg' %}"
                                              alt="slide"></a>
        </div>

        <div class="item item3" data-background="#D2D9E0">
            <a href="" class="img-slide"><img src="{% static 'assets/cosmos/images/media/index3/slide3.jpg' %}"
                                              alt="slide"></a>
        </div>

        <div class="item item4" data-background="#ffcc33">
            <a href="" class="img-slide"><img src="{% static 'assets/cosmos/images/media/index3/slide4.jpg' %}"
                                              alt="slide"></a>
        </div>

    </div> <!-- slide -->

</div><!-- block slide top -->

<!--Trending  -->
<div class="block-trending banner-slide2">
    <div class="block-title">
        Tendances
    </div>
    <div class="block-content">
        <div class="owl-carousel"
             data-nav="true"
             data-dots="false"
             data-margin="30"
             data-responsive='{
                "0":{"items":1},
                "480":{"items":1},
                "768":{"items":1},
                "992":{"items":1},
                "1200":{"items":1}
                }'>
            <div class="item">

                <div class="product-item product-item-opt-1">
                    <div class="product-item-info">
                        <div class="product-item-photo">
                            <a class="product-item-img" href=""><img alt="product name"
                                                                     src="{% static 'assets/cosmos/images/media/index3/trening1.jpg' %}"></a>
                        </div>
                        <div class="product-item-detail">
                            <strong class="product-item-name"><a href="">Super Bag</a></strong>
                            <div class="product-item-price">
                                <span class="price">$38.95</span>
                                <span class="old-price">$52.00</span>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="product-item product-item-opt-1">
                    <div class="product-item-info">
                        <div class="product-item-photo">
                            <a class="product-item-img" href=""><img alt="product name"
                                                                     src="{% static 'assets/cosmos/images/media/index3/trening2.jpg' %}"></a>
                        </div>
                        <div class="product-item-detail">
                            <strong class="product-item-name"><a href="">Super Yellow Bag </a></strong>
                            <div class="product-item-price">
                                <span class="price">$38.95</span>
                                <span class="old-price">$52.00</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="item">

                <div class="product-item product-item-opt-1">
                    <div class="product-item-info">
                        <div class="product-item-photo">
                            <a class="product-item-img" href=""><img alt="product name"
                                                                     src="{% static 'assets/cosmos/images/media/index3/trening1.jpg' %}"></a>
                        </div>
                        <div class="product-item-detail">
                            <strong class="product-item-name"><a href="">Super Bag</a></strong>
                            <div class="product-item-price">
                                <span class="price">$38.95</span>
                                <span class="old-price">$52.00</span>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="product-item product-item-opt-1">
                    <div class="product-item-info">
                        <div class="product-item-photo">
                            <a class="product-item-img" href=""><img alt="product name"
                                                                     src="{% static 'assets/cosmos/images/media/index3/trening2.jpg' %}"></a>
                        </div>
                        <div class="product-item-detail">
                            <strong class="product-item-name"><a href="">Super Yellow Bag </a></strong>
                            <div class="product-item-price">
                                <span class="price">$38.95</span>
                                <span class="old-price">$52.00</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div><!--Trending  -->